version: '3'

services:
  postgres:
    image: postgres:10.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres@2020
      POSTGRES_DB: postgres
    ports:
      - '5434:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - postgres-network
    volumes:
      - db-volume:/var/lib/postgresql/data

networks:
  postgres-network:
    driver: bridge

volumes:
  db-volume:
